* {
    margin: 0;
    padding: 0;
}

.primary-section {
    background-image: url(../img/background.png);
    width: 100%;
    height: 640px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-width: 1280px;
}

.navbar {
    float: right;
    position: relative;
    top: 30px;
    right: 60px;
    font-size: 15px;
}

a[href="1"] {
    color: rgb(184, 182, 184);
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

a[href="#"] {
    color: white;
    padding-left: 20px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 2px;
}

a:hover {
    color: #ccc;
}

.button-primary {
    margin-left: 10px;
    width: 120px;
    font-family: 'Ubuntu', sans-serif;
    height: 35px;
    padding: 10px 3px;
    color: white;
    background-color: transparent;
    border: 2px groove rgb(170, 170, 170);
    transition: 0.5s;
}

.button-primary:hover {
    transition-timing-function: linear;
    background-color: white;
    color: rgb(53, 53, 53);
    cursor: pointer;
    border: 2px white;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.text {
    position: absolute;
    top: 200px;
    width: 100%;
    min-width: 1280px;
}

.title-1 {
    margin-top: 20px;
    font-weight: normal;
    letter-spacing: 5px;
    color: rgba(134, 134, 134, 0.966);
    font-size: 30px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.title-2 {
    width: 50%;
    margin-top: 20px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.555);
    font-size: 80px;
}

.secundary-section {
    width: 100%;
    height: 400px;
    min-width: 1280px;
}

.secundary-section h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 34px;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 0px;
}

.secundary-section strong {
    font-size: 33px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-decoration: underline #C4B1C4;
}

.secundary-section span {
    font-weight: bold;
}

.secundary-section p {
    font-size: 23px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    margin: 0 220px;
    padding-top: 65px;
}

.terciary-section {
    position: relative;
    top: 60px;
    background-image: url(../img/terceary-section.png);
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 1280px;
}

.terciary-section p {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.849);
    top: 105px;
    right: 0;
    left: 0;
    font-size: 60px;
}

.quartenary-section {
    margin-top: 30px;
    color: black;
    width: 100%;
    min-width: 1280px;
    transition: 1s;
    padding-bottom: 50px;
}

.quartenary-section:hover {
    background: black;
    color: white;
}

.div-title {
    padding-top: 150px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 40px;
    height: 100px;
}

.card-group {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 100px;
    padding: 50px;
}

.card-group img {
    width: 100%;
    height: 270px;
    justify-content: center;
}

.card-group img:hover {
    opacity: 95%;
}

.card {
    transition: 0.5s;
    width: 40%;
    margin-right: 30px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.container:hover {
    position: relative;
    top: -20%;
    background-color: white;
    color: black;
    opacity: 85%;
    font-weight: normal;
    height: 150px;
}

.container h5 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    position: relative;
    top: 10%;
    display: inline-block;
}

.container p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
    position: relative;
    top: 10%;
    display: inline-block;
}

.redes-sociais {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgba(134, 134, 134, 0.212);
    justify-content: center;
    min-width: 1280px;
    transition: 1s;
}

.redes-sociais img {
    height: 20px;
    width: 20px;
    position: relative;
    top: 40%;
    margin-right: 10px;
}

.redes-sociais img:hover {
    margin-top: 2px;
    cursor: pointer;
    opacity: 65%;
}

.footer {
    background-color: #5A5A59;
    height: 160px;
    text-align: center;
    width: 100%;
    transition: 0.4s;
    min-width: 1280px;
}

.footer:hover {
    background-color: black;
    -webkit-transition: 0100s ease-out;
    -moz-transition: 0.100s ease-out;
    -o-transition: 0.1500s ease-out;
    transition: 0.15s ease-out;
}

.location {
    font-family: 'Raleway', sans-serif;
    margin: 0px 250px;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
}

.powered-by {
    margin: 0px 400px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: white;
    padding-top: 25px;
    letter-spacing: 2px;
    padding-left: 100px;
    padding-right: 100px;
    color: rgb(41, 41, 41);
}

.powered-by a[href="."] {
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.powered-by a:hover {
    font-weight: bold;
    cursor: pointer;
    opacity: 70%;
    color: white;
}