*{
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
.primary-section{
    background-image: url(/img/background.png);
    width: 100%;
    height: 640px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-width: 1280px;
}
.navbar{
    float: right;
    position: relative;
    top: 30px;
    right: 60px;
    font-size: 15px;
}

a[href="1"]{
    color: rgb(184, 182, 184);
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
a[href="#"]{
    color: white;
    padding-left: 20px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 2px;
}
a:hover{
    color: #ccc;
=======
html, body{
    height: 100%;
>>>>>>> parent of d416edf... Nova concepção do Projeto 2, ainda falta adicionar mais conteúdos e mais consertos
}

.main-bg{
    background-image: url(../img/créateur\ de\ mode.png);
    width: 100%;
    height: 100%;
    background-size: cover;
}

nav{
    background-color: transparent ;
}

a{
    font-family: 'Raleway', sans-serif !important;
}

.section1{
    margin-top: 40px;
    width: 100%;
    height: 800px;
}

.icon-arrowdown{
    width: 100%;
    height: auto;
    margin-top: -15px;
}
.icon-arrowdown img{
    width: 50px;
    height: 45px;
    display: block;
    margin: 0 auto;
}

.container{
    margin: 40px auto;
    max-width: 1280px;
    width: 90%;
}
<<<<<<< HEAD
.secundary-section p{
    font-size: 21px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    margin: 0 300px;
    padding-top: 65px;
   
}

.terciary-section{
    position: relative;
    top: 60px;
    background-image: url(/img/terceary-section.png);
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 1280px;
=======
.container h4{
    padding-left: 100px;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(2, 2, 2);
>>>>>>> parent of d416edf... Nova concepção do Projeto 2, ainda falta adicionar mais conteúdos e mais consertos
}


.linha-titulo{
    margin: 0 8%;
    text-align: center;
    width: 300px;
    height: 3px;
    border-width: 0;
    background-color: #d29e1d;
}

.carousel{
    width: 60%;
    margin: 0 auto;
    padding: 10px 10px;
    
}

.carousel-inner img{
    height: 400px;
    
}



/* .main-menu{
    background-image: url(../img/créateur\ de\ mode.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

nav{
    margin-top: 15px;
    width: 100%;
    height: auto;
}
nav a{
    height: auto;
    width: auto;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 18px;
    padding: 5px 30px;
    border: solid 2px rgba(255, 217, 1, 0.486);
    border-radius: 2rem;
}

a:hover{
    background-color: rgba(243, 203, 26, 0.712);
} */