@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    text-decoration: none;
}
ul {
    list-style: none;
}

.main-header{
    background-image: url(../img/bg-header.jpg);
    height: 92vh;
    background-size: cover;
    background-repeat: no-repeat;
}


.container-align{
    display: flex;
    align-items: center;
    max-width: 990px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 0;
}


.logo img{
    height: 80px;
    margin:  0px 100px;
    margin-bottom: 20px;
    cursor: pointer;
}

.nav-header ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
}

 a[href="#container-sobre-nos"], a[href="#como-funciona?"],
 a[href="#por-que-participar"]{
    color: rgb(85, 85, 85);
    display: block;
    padding: 0 20px;
    font-weight: lighter;
    font-size: 18px;
    transition:  0.5s;
    text-decoration: none;
}

a[href="#container-sobre-nos"]:hover, a[href="#como-funciona?"]:hover,
a[href="#por-que-participar"]:hover{
    filter: brightness(5%);
    text-decoration: none;
}

.button-cadastrar{
    font-family: 'Lato', sans-serif;
    color: rgba(78, 43, 158, 0.74) !important;
    height: 45px;
    width: 170px;
    margin: 3px;
    background-color: rgba(78, 43, 158, 0.801);
    border: 0;
    border-radius: 35px;
    font-weight: bolder;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    justify-content: center;
    transition: ease-in-out 0.7s;
}
.button-cadastrar a{
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}
.button-cadastrar a:hover{
    color: rgba(78, 43, 158, 0.74) !important;
    text-decoration: none;
}

.button-cadastrar:hover{
    color: rgba(78, 43, 158, 0.74) !important;
    border: 2px solid rgba(78, 43, 158, 0.322);
    background-color: transparent;
   cursor: pointer;
}

.container-sobre-nos{
    display:flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
}

.sobre-nos{
    margin: 80px 0;
    max-width: 420px;
}
.sobre-nos h2{
    font-size: 3.5rem;
    margin: 20px 0;
}
.sobre-nos p{
    font-size: 1.2rem;
    text-align: justify;
    margin: 30px 0;
    color: #666;
    font-weight: lighter;
}
.bg-sobre-nos{
    max-width: 570px;
}

.bg-sobre-nos img{
   height: 90vh;
   margin-top: 30px;
    max-width: 500px;
}

.container-como-funciona{
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 60px auto;
    flex-wrap: wrap;
    height: 80vh;
}

.titulo-como-funciona{
    margin-top: 100px;
}
.titulo-como-funciona h2{
   
    font-family: 'Inter', sans-serif;
    color: rgba(78, 43, 158, 0.623) ;
    font-size: 4rem;
    text-align: center;
}

.card:nth-of-type(2n+1){
    padding: 0px 40px;
    height: 65vh;
    margin: 10px 10px;
    flex-basis: 300px;
    background-color: rgba(78, 43, 158, 0.178);
}
.card:nth-of-type(2n+2){
    padding: 0px 40px;
    height: 65vh;
    margin: 10px 10px;
    flex-basis: 300px;
    border: 10px solid rgba(78, 43, 158, 0.178);
    background-color: transparent;
}

.card h2{
    font-size: 2.6rem;
    padding-top: 30px;
    margin-bottom: 10px;
}
.card a{
    font-weight: bold;
    color:rgba(78, 43, 158, 0.959);
}

.card-num{
    color:rgba(78, 43, 158, 0.623);
    font-size: 5.2rem;
    font-family: 'Inter', sans-serif;
}

.card h3{
    max-width: 190px;
    padding-top: 8px;
    font-size: 1.6rem;
    font-weight: bold;
    color:rgba(78, 43, 158, 0.699);
}
.card p{
    padding: 30px 0;
    font-size: 1.3rem;
    font-weight: lighter;
    color:#5f5f5f;
    flex-basis: 200px;
}

/* .container-entre-em-contato{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(78, 43, 158, 0.959);
    height: 1100%;
}
.align-entre-em-contato{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.entre-em-contato{
    max-width: 400px;
    padding: 80px 0;
    color: #fff;
    margin: 0 40px;
}

.entre-em-contato h2{
    font-size: 3rem;
    padding: 20px 0;
  
}

.entre-em-contato p{
    font-size: 1.2rem;
    max-width: 300px;
    text-align: justify;
    margin-bottom: 20px;
}

.entre-em-contato form input{
    max-width: 350px;
    display: block;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    height: 40px;
    color: #333;
    width: 70%;
    border: 2px solid rgb(78, 43, 158);
}
textarea {
    margin-top: 10px;
    height: 135px;
    width: 320px;
    text-decoration: none;
    resize: none;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
}
input{
    padding: 0 10px;
}

.entre-em-contato form input[type="submit"]{
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color:transparent;
    margin: 20px;
    width: 320px;
    height: 50px;
    margin-left: 0;
    border: 2px solid #fff;
    border-radius: 5px;
}

.faca-uma-visita{
    max-width: 400px;
    padding: 80px 0;
    color: #fff;
    margin-left:  80px;
}
.faca-uma-visita h2{
    font-size: 3rem;
    padding: 20px 0;
} */

.por-que-participar{
    display: flex;
    background-color: rgb(78, 43, 158);
    height: 110vh;
    flex-wrap: wrap;
}

.container-por-que-participar{
    margin: 0 auto;
    max-width: 960px;
}

.container-por-que-participar h2{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-size: 3.6rem;
    color: #fff;
    padding-top: 110px;
    text-align: center;
}
.container-por-que-participar h3{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-size: 3.9rem;
    color: #fff;
    padding-top: 40px;
    text-align: center;
}

.container-por-que-participar p{
    font-size: 1.3rem;
    text-align: center;
    color:rgba(190, 190, 190, 0.918);
    font-weight: 300;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.container-resultado{
    margin: 80px 0;
    display: flex;
    flex-basis: 900px;
    justify-content: space-between;
}

.resultado{
    flex-basis: 900px;
    padding: 20px 50px;
}

.footer{
    color: rgb(255, 255, 240);
    height: 10vh;
    background-color: rgba(78, 43, 158, 0.781);
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.footer p{
    padding-top: 10px;
}

.footer a{
    font-weight: bold;
    color: lightgrey;
    text-decoration: none;
}
