* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html,
body {
    height: 100%;
}

html { /* serve para diminuir o tempo de scroll */
    scroll-behavior: smooth;
}

header {
    background-image: url(../img/capa.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.clear {
    clear: both;
}

header nav {
    float: right;
    margin-top: 5%;
}

nav a {
    text-decoration: none;
    color: rgba(240, 240, 240, 0.774);
    margin-right: 50px;
}

nav a:hover {
    color: white;
}

nav a[href="1"] {
    color: white;
    font-weight: bold;
}

nav a[href="1"]:hover {
    color: rgba(235, 235, 235, 0.932);
}

.container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    max-width: 1280px;
}

.title-header {
    margin-top: 22vh;
    color: white;
    float: right;
    max-width: 600px;
}

.title-header h2 {
    font-weight: normal;
    font-size: 60px;
}

.title-header p {
    width: 80%;
    color: rgba(235, 235, 235, 0.664);
    font-size: 18px;
    text-align: justify;
}

.services {
    background-color: #472663;
    height: 65vh;
    max-height: 500px;
    color: white;
    display: flex;
    width: 100%;
}

.list {
    width: 100%;
    max-width: 1280px;
    float: left;
    padding-top: 85px;
    padding-left: 100px;
    float: left;
    justify-content: start;
    justify-content: space-between;
}

.list h1 {
    font-size: 40px;
    font-weight: normal;
}

.list p {
    font-size: 24px;
    font-weight: normal;
    padding-top: 20px;
}

.list ul {
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
    margin-bottom: 25px;
}

button {
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #ff703e;
    width: 140px;
    margin: 0 10px;
    padding: 10px 0px;
    border: 1px solid #ff703e;
    border-radius: 20px;
}

button:hover {
    transition: 0.4s linear;
    background-color: #835fa8;
    border: 1px solid #835fa8;
}

.bg-section {
    float: right;
    width: 100%;
}

.bg-section img {
    height: 65vh;
    margin-left: 25%;
    justify-content: end;
}

.section-father {
    height: 65vh;
    width: 100%;
    max-width: 1280px;
    background-color: #f6f8fa;
}

.section-child {
    height: 60%;
    width: 100%;
    padding-top: 9%;
    color: #472663;
}

.section-child h2 {
    font-weight: normal;
    font-size: 40px;
    text-align: center;
}

.section-child p {
    margin: 3% 12%;
    text-align: center;
    font-weight: lighter;
    font-size: 17px;
}

.section-info {
    height: 45vh;
    width: 100%;
}

.section-left {
    background-color: #835fa8;
    height: 100%;
    float: left;
    width: 50%;
    color: white;
    padding-top: 6%;
}

.section-left h2 {
    padding-bottom: 3%;
    padding-left: 8%;
}

.section-left p {
    padding-left: 8%;
    width: 90%;
    font-size: 17px;
    font-weight: lighter;
    text-align: justify;
}

.section-right {
    background-color: #f4f8fb;
    height: 100%;
    float: right;
    width: 50%;
    color: #232323;
    padding-top: 6%;
    padding-left: 5%;
}

.img-dev {
    display: flex;
    margin-bottom: 0% !important;
}

.img-dev img {
    height: 50px;
    margin-top: -2.4%;
    padding-left: 2%;
    margin-bottom: 0% !important;
}

.img-dev h2 {
    justify-content: left;
    margin-bottom: 0% !important;
}

.section-right h5 {
    font-size: 12px;
}

.section-right p {
    width: 90%;
    margin-top: 3%;
    font-size: 17px;
    font-weight: lighter;
    text-align: justify;
}

.footer {
    background-color: #472663;
    height: 95vh;
    width: 100%;
    color: white;
    padding-top: 90px;
    padding-left: 8%;
    display: flex
}

.footer-left {
    width: 50%;
    float: left;
}

.footer h2 {
    padding: 15px 0;
    display: block;
    font-size: 28px;
}

.footer p {
    display: block;
    padding-top: 25px;
    width: 320px;
    text-align: justify;
    padding-bottom: 10px;
}

input {
    margin-top: 10px;
    display: block;
    height: 35px;
    width: 320px;
}

textarea {
    margin-top: 10px;
    height: 135px;
    width: 320px;
    text-decoration: none;
    resize: none;
}

input[type="submit"] {
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #ff703e;
    margin: 20px;
    width: 320px;
    margin-left: 0;
    border: 1px solid #ff703e;
    border-radius: 20px;
}

input[type="submit"]:hover {
    transition: 0.4s linear;
    background-color: #835fa8;
    border: 1px solid #835fa8;
}

.footer-right {
    width: 50%;
    float: right;
}

.footer-right h2 {
    padding-left: 25%;
}

.footer-right iframe {
    margin-top: 25px;
    padding-left: 25%;
    height: 370px;
    width: 650px;
}

footer {
    height: 70px;
    text-align: center;
    width: 100%;
    transition: 0.4s;
    min-width: 1280px;
    background-color: #6A557D;
    opacity: 80%;
}

.copyright {
    font-family: 'Raleway', sans-serif;
    margin: 0px 250px;
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

.powered-by {
    margin: 0px 400px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: white;
    padding-top: 15px;
    letter-spacing: 2px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
}

.powered-by a[name="author"]:hover {
    font-weight: bold;
    cursor: pointer;
    opacity: 70%;
    color: #472663;
}